<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class = "form content">
      <h2>List of all forms </h2>
      <% if (datas.length > 0) { %>
        <% datas.forEach(data => { %>
          <h3 class="name"><%= data.name %></h3>
          <p class="description"><%= data.description %></p>
          <p class="testid"><%=data.test %></p>
          <a id="delete" data-id="<%=data._id%>"> delete</a>
        <% }) %>
      <% } else { %>
        <p>There are no blogs to display...</p>
      <% } %>
  </div>
  <script>
    const trash = document.querySelector('#delete');
    trash.addEventListener('click',evt=>{
      console.log(trash.dataset.id);
      fetch(`/delete/${trash.dataset.id}`,{
        method:'DELETE'
      })
      .then(response=>response.json())
      .then(data=>{window.location.href=data.redirect})
      .catch(err=>{console.log("error on delete:",err)});
    })
  </script>
  <%- include('./partials/footer.ejs') %>
</body>
</html>